body {
  height: 300vh;
  margin: 0;
  background: rgb(251,251,12);
  background: linear-gradient(0deg, rgba(251,251,12,1) 0%, rgba(241,144,8,1) 46%, rgba(0,0,0,1) 92%);
}

.line-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  overflow: hidden;
}

svg {
  display: inline-block;
  height: 100%;
}

section {
  height: 100vh;
  display: grid;
  place-content: center;
  font-family: 'Franklin Gothic Medium';
  font-size: 4em;
}

.one {
  background: url('img.png');
  background-size: cover;
}

.three {
  background: url('img2.jpg');
  background-size: cover;
}

.two {
  font-size: 4rem;
  position: relative;
  overflow: hidden;
}

p {
  position: absolute;
  z-index: -1;
  color: rgb(241, 241, 241);
  top: -10%;
  left: 20%;
  white-space: nowrap;
  font-size: 30rem;
}

.word {
  font-size: 6rem;
  color: aliceblue;
}